header{
    padding: 4em;
    padding-bottom: 2em;
}

body{
    font-family: 'Kulim Park', sans-serif;

}
.input-name{
    width: 50%;

}
.input-number {
    width: 10%;
 
}

.btnRandom{
    padding: 3em;
    

}

.modal-content {
    max-height: 300px;
    overflow-y: auto;
  }

